<html>
    <head>
        <title>Lies Counter</title>
        <style>
            .bar {
                color: white;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div>
            <h1>Lies Counter</h1>
        </div>

        <div>
            <table width="100%">
                <col width="10%"/>
                <col width="10%"/>
                <col width="80%"/>
                <tr>
                    <th>EBJ</th>
                    <th>
                        <form action="/inc/ebj" method="post"><button type="submit"> + </button></form>
                        <form action="/dec/ebj" method="post"><button type="submit"> - </button></form>
                    </th>
                    <td>
                        <div class="bar" style="background: #f00; width: {{ ebj_ratio }}%">{{ ebj }}</div>
                    </td>
                </tr>
                <tr>
                    <th>RGF</th>
                    <th>
                        <form action="/inc/rgf" method="post"><button type="submit"> + </button></form>
                        <form action="/dec/rgf" method="post"><button type="submit"> - </button></form>
                    </th>
                    <td>
                        <div class="bar" style="background: #00f; width: {{ rgf_ratio }}%">{{ rgf }}</div>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>